:root {
    --fuenteBold: 'Century Gothic';
    --blanco: '#FFFFFF';
    --gris: '#707070'
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
    font-size: 1rem;
    line-height: 1.2;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.menu a {
    text-decoration: none;
    color: #FFFFFF;   

}
.footer-contenedor {
    margin: 0;
    padding: 0.5%;
    background-color:#FFFFFf;
    width: 100%;
    height: 10%;
    bottom: 0;
    position: fixed;
    justify-content: center;
}

.footer-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: space-between;
    justify-items: end;
    text-align: center;
    color: #707070;

}
.img_iconos {
    width: 30%;
}
.siguenos {
    font-weight: bold;
}
.contenedor-boton {
    display: block;
    text-align: center;
}
.boton {
    display: inline-block;
    border: 2px solid var(--azul);
    border-radius: 30px;
    padding: 10px 80px;
    color: #707070;
    background-color: white;
    
}
.boton:hover {
    color: white;
    background-color: #707070;
    cursor: pointer;
}