.fondo_index {
    background-image: url(/img/imagen2.jpeg);
}
.contenedor_body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2%;
    align-items: center;
}
body {
    color: white;
    font-weight: bold;
}
.contenedor2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
pre {
    line-height: 0.5;
}